header{
    background: #4cef7d;
}

body{
  background: #C5FFA8;
}
.caixa{
    position: relative;
    width: 1000px;
    margin: 0 auto;
}

nav{
    position: absolute;
    top: 110px;
    right: 0;
    font-family: Comic Sans MS;
}
nav li{
    display: inline;
    margin: 0 0 0 15px;
}
nav a{
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
}

#logo{
width: 300px;
}

#baixar{
    font-size: 40px;
    position: relative;
}